@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

html {
    overflow-x: hidden;
}

header {
    background-color: #049DBF;
    padding-top: 16px ;
}

header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

header h1 a {
    color: white;
    text-decoration: none;
}

.container {
    margin: 0px 70px;
}

nav {
    background-color: #04ADBF;
    padding: 16px 0px;
    display: none;
}


nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav li {
    list-style: none;
    margin-right: 16px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}

nav li a {
    color: white;
    text-decoration: none;
}

.menu-hamburger {
    width: 20px;
    cursor: pointer;
}

.menu-hamburger span {
    height: 2px;
    width: 100%;
    background-color: white;
    display: block;
    margin-bottom: 4px;
    
}

#carousel-imagem  {
    overflow: hidden;
    max-height: 300px;
}

#carousel-imagem img {
    background-size: cover;
}

section img {
    width: 40%;
    height: 40%;
    margin-right: 32px;
    border-radius: 10px;
}

.container-flex {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

section {
    padding: 48px;
}

section h2 {
    margin-bottom: 16px;
}

section p {
    font-family: Lora;
    margin-bottom: 16px;
}

.lista-viagem {
    display: flex;
    flex-wrap: wrap;
}

.lista-viagem li {
    list-style: none;
    max-width: 30%;
    margin-bottom: 55px;
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.1);
    padding: 16px;
    border-radius: 10px;
    border: 2px solid transparent;
}

.lista-viagem li:hover {
    border: 2px solid #F2B705;
    border-radius: 10px;
}

.lista-viagem li img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.lista-viagem li h3 {
    margin: 16px 0;
}

.item-central {
    margin: 0 5%;
}

.lista-viagem li button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: #F2B705;
    font-weight: 500;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.lista-viagem li button:hover {
    background-color: #F28705;
}

.lista-viagem li p {
    color: rgba(0, 0, 0, 0.6);
}

.lista-viagem li strong {
    margin: 16px 0;
    display: block;
    font-size: 25px;
    color: #F28705;
}

.lista-viagem li span {
    font-weight: lighter;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.4);
}

.lista-promo li:hover {
    border: 2px solid #04ADBF;
    border-radius: 10px;
}

.lista-promo li button {
    background-color: #04ADBF;
}

.lista-promo li button:hover {
    background-color: #0474bf;
}

.lista-promo li strong {
    color: #0474bf;
}

del {
    font-size: 15px;
    color: #ccc;
}

@media (max-width: 768px) {
    .container-flex {
        display: block;
    }
    section img {
        width: 100%;
    }
    section h2 {
        margin-top: 16px;
        margin-bottom: 20px;
    }
    .lista-viagem li{
        display: block;
        max-width: 100%;
    }
    .item-central {
        margin: auto;
    }
}